<!--Nav-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Sweati</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Friends <span class="sr-only">(current)</span></a>
      </li>

    </ul>

    <button class="btn btn-outline-success my-2 my-sm-0" id="login" type="submit">Login</button>
    <button class="btn btn-outline-success my-2 my-sm-0" id="signUp" type="submit">Sign Up</button>

  </div>
</nav>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <button class="btn btn-outline-success my-2 my-sm-0" id="login" type="submit">Login</button>
        <button class="btn btn-outline-success my-2 my-sm-0" id="signUp" type="submit">Sign Up</button>
    
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>