body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-image: url("/assets/images/sweati-bg.png");
  background-repeat: no-repeat;
}

.logo {
  width: 60%;
}
/*/////////////////////////
Fonts
/////////////////////////*/
a:hover {
  text-decoration: none;
}

h1 {
  color: #000000;
  font-weight: 600;
  font-size: 60px;
}

h2 {
  color: #8bc2fa;
  font-weight: 600;
  font-size:45px;
}

.navbar {
  padding: 1rem 1rem;
  padding: 20px 60px;
  background-color: transparent;
}

.app-name {
  color: #8bc2fa;
}

.center {
  text-align: center;
}

.list-group-item {
  line-height: 2.5;
}

/*/////////////////////////
Homepage
/////////////////////////*/

#home {
  margin-top: 60px;
}

.register-cards {
  margin-top: 60px;
}

.card {
  background: #f5f5f5;
  border: none;
  border-radius: 8px;
}
.card:hover {
  background: white;
  box-shadow: 1px 8px 20px #d7d7d7;
  -webkit-transition: box-shadow 0.1s ease-in;
}

.card-title,
.btn-card {
  text-align: center;
  align-items: center;
  margin-top:20px;
}

.box {
  margin: 20px;
  padding: 30px;
  min-height: 220px;
}

.btn-card {
  color: #8bc2fa;
  display: flex;
  margin: 0 auto;
  font-size: 32px;
  background: transparent;
}

.workout-card {
  border: 2px solid #8bc2fa;
  border-radius: 25px;
  margin-top: 20px;
}


/*/////////////////////////
Dashboard
/////////////////////////*/
.dash {
  display: flex;
}

/*/////////////////////////
Buttons
/////////////////////////*/

.nav-btn{
  margin-right:20px;
}
.btn-outline-success {
  color: #8bc2fa;
  border-radius: 25px;
  background-color: transparent;
  background-image: none;
  border-color: #8bc2fa;
  height: 45px;
  padding: 5px 30px;
}
.btn-outline-success:hover {
  color: white;
  background-color: #8bc2fa;
  border: none;
}


/*/////////////////////////
Forms
/////////////////////////*/
.dash {
  display: flex;
}

.form-fields {
  border: 2px solid #8bc2fa;
  height: 55px;
  border-radius: 25px;
}

.login-form{
  margin-right:140px;
}
.login-intro{
  margin-left:140px;
}

.wrapper {
  margin-top:5%;
}
