body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.navbar{
  padding: 1rem 1rem;
}

h1 {
  color: #000000;
  font-weight: 600;
}

.app-name{
  color: #8bc2fa;
}

.center {
  text-align: center;
}

.list-group-item {
  line-height: 2.5;
}

#home {
  margin-top: 60px;
}

.register-cards {
  margin-top: 60px;
  
}

.card{
  background: #f5f5f5;
  border: none;
}
.card:hover {
  background: white;
  box-shadow: 1px 8px 20px #d7d7d7;
  -webkit-transition: box-shadow .1s ease-in;
  
}

.card-title,
.btn-card {
  text-align: center;
  align-items: center;
}

.box {
  margin: 20px;
  padding: 30px;
  min-height: 220px;
}

.btn-outline-success {
  color: #8bc2fa;
  border-radius: 25px;
  background-color: transparent;
  background-image: none;
  border-color: #8bc2fa;
  padding: 5px 30px;
}
.btn-outline-success:hover {
  color: white;
  background-color: #8bc2fa;
  border: none;
}

.btn-card {
  color: #8bc2fa;
  display: flex;
  margin: 0 auto;
  font-size: 32px;
  background: transparent;
}

a:hover{
  text-decoration: none;
}
